{% extends 'base.html.twig' %}
{% block title %}Update Password{% endblock title %}
{% block body %}
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <h2 class="display-4 py-2">Modifier mon mot de passe</h2>
    <div class="px-2">
    {{ form_start(form) }}
    {{ form_label(form.password.first, 'Nouveau mot de passe') }}
    {{ form_errors(form.password.first) }}
    {{ form_widget(form.password.first) }}
    {{ form_label(form.password.second, 'Comfirmez votre mot de passe') }}
    {{ form_errors(form.password.second) }}
    {{ form_widget(form.password.second) }}
    </div>
    <input type="submit" value="Modification" class="btn btn-primary" style="margin-top: 5px">
</div>
    {{ form_end(form) }}
{% endblock body %}
