{% extends 'base.html.twig' %}

{% block title %}Create Appointment{% endblock title %}

{% block body %}
    <h4>Create invoice</h4>
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.client) }}
    {{ form_errors(form.client) }}
    {{ form_widget(form.client) }}
    {{ form_label(form.content) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_label(form.type) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
    <input type="submit" value="Submit">
    {{ form_end(form) }}
{% endblock %}